.loading-dots-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dots {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.dots span {
    width: 20px;
    height: 20px;
    background-color: #1e90ff;
    /* dots rangini ko‘k qildik */
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
        opacity: 0.6;
    }

    100% {
        transform: translateY(-20px);
        opacity: 1;
    }
}

.loading-dots-overlay p {
    font-size: 1.2rem;
    color: #1e90ff;
    /* matn ham ko‘k rang */
    letter-spacing: 1px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    font-weight: 500;
}

/* Responsive */
@media (max-width: 768px) {
    .dots span {
        width: 15px;
        height: 15px;
    }

    .loading-dots-overlay p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .dots span {
        width: 12px;
        height: 12px;
    }

    .loading-dots-overlay p {
        font-size: 0.9rem;
    }
}