/* src/components/Loading/Loading.css */

/* Barcha ekranni qamrab oladi */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;  /* viewport width */
  height: 100vh; /* viewport height */
  background-color: #ffffff; /* fon oq */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Spinner shakli */
.spinner {
  border: 6px solid #f3f3f3; /* och kul rang */
  border-top: 6px solid #646cff; /* moviy rang */
  border-radius: 50%; /* doira */
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite; /* aylanish animatsiyasi */
  margin-bottom: 1rem;
}

/* Spinner animatsiyasi */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

